  html, body{
  
    animation: fadeIn 2s ease 0.5s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    margin: 0;         
    padding: 0;       
    width:100%;
    height:100%;

}
   
    body{
      font-family:"游ゴシック", "Yu Gothic", YuGothic, sans-serif;
    }
    
    div#header-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 40px;              /* 縦幅40px */
    		z-index: 2;
}

div#header-bk { 
	background-color:#444;     /* 背景色(黒) */
	padding:10px 0 20px;       /* 上10px、下20pxをあける */
	height:55px;              /* 縦の高さ110px */
	width:100%; 
			z-index: 2;/* 横の幅を100% */

}
 
 
div#header { 
	border: 1px solid #fff;    /* 表示領域を白枠で囲う */
	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 99%;              /* 横の幅970px */
	margin: auto;          /* 中央揃え */
	font-family:"游ゴシック", "Yu Gothic", YuGothic, sans-serif;
	color: #ffffff;
	clear: both;
		z-index: 2;

    
}


div#body-bk{
    padding:70px 0 0 0;  

}
 
div#body{
    width:100%;
    margin:auto;

}

div#slide{
    width:99%;
    z-index: -5;
}

div#main{
    width:80%;
    margin:auto;
    background-color: #e5e5e5;
    text-align:center;
}




@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}
    
ul{
     list-style:none;
 
}
    
a#smart{
    display: none;
    
}
    
a{
 text-decoration: none;
}

#title:link { color: white; }
#title:visited { color: white; }
#title:hover { color: white; }
#title:active { color: white; }


.button {
	display: inline-block;
	width: 200px;
	height: 35px;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	outline: none;
	margin: top;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.button {
	background-color: #444;
	color: #fff;
}
.button:hover {
	background-color: #59b1eb;
}



div#mienai{
    visibility: hidden;
}

div#map{
     margin: 0 auto; 
     width:80%;
}